@import url(/Pacifico-Regular.ttf);
* {
  margin: 0;
  border: border-box;
}
body {
  background-color:;

  background-color: #F9F6EE;
}
.navbar {
  position: fixed;
  top: 1vh;
  left:5vw;
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px);
  width: 90%;
  border-radius: 35vw;
  
}
img{
position: relative;
width: auto;
height:8vh;
}

.dots{
  position:absolute;
   font-size:  5vh;
  color: black;
  cursor: pointer;
  margin-left: auto;/* pushes dots to the right */
right: 24px;
  top:9px;

}
/* main header text */

.home{
position: relative;
margin-top: 20vh;
height: 300px;
margin-left: 30px;
margin-right: 30px;
border-radius: 10px;


}
.home h2{
  position: relative;
  font-family: pacifico, cursive;
  font-size: 4vh;
  text-align: center;
  
}
.home h1{
  position: relative;
  font-family:, cursive;
  font-size: 5vh;
  text-align: center;
  
}
.home p{
  position: relative;
  font-family:sans-serif , cursive;
  font-size:3vh;
  text-align: center;
  margin-top: 20px;
  
}
.services{
  position:absolute;
  font-family:sans-serif , cursive;
  font-size:12px;
  text-align: center;
top:65vh;
  left:50%;
  transform: translateX(-50%);
   display: flex;
border: 2px solid black;
border-radius: 18px;
padding: 2vh;
color: black;
cursor: pointer;
}
.services:hover{
  position:absolute;
  font-family:sans-serif , cursive;
  font-size:12px;
  text-align: center;

  left:50%;
  transform: translateX(-50%);
   display: flex;
border: 2px solid #F9F6EE;

color:#F9F6EE;
background-color: black;
cursor: pointer;
}