
* {
  margin: 0;
  border: border-box;
}
body {
  background-color:;
  z-index: -1;
  background-color: #F9F6EE;
}
.navbar {
  position: fixed;
  top: 1vh;
  left:5vw;
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px);
  margin-top: 0;
  width: 90%;
  z-index: 1;
  border-radius: 35vw;
}
.headerlogo img{
  height:9vh;
}
